<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Stations</title>
  </head>
  <body>
    <h2>Do you want to reset the Stations table of the Database?</h2>

    <div>
      <form action="http://localhost:9102/interoperability/admin/resetstations" method="POST">
        <input type="submit" value="Reset" /><br><br>
      </form>
    </div>
    <div>
      <form action="http://localhost:9102">
        <input type="submit" value="Back to main page" />
      </form>
    </div>

  </body>
</html>
