<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Health Check</title>
  </head>
  <body>
    <h2>Connection <%= status %>.</h2>

    <div>
      <form action="http://localhost:9102">
        <input type="submit" value="Back to main page" />
      </form>
    </div>

  </body>
</html>
