<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Validate a Payment</title>
  </head>
  <body>

    <h2>Please enter the two operators, the PSP, the amount and the dates</h2>

    <form action="http://localhost:9102/interoperability/Payoff" method="POST">
      <div>
        <label for="op_1">Operator Credited:</label>
        <input type="text" id="op_1" name="op_1" required><br><br>
      </div>
      <div>
        <label for="op_2">Operator Charged:</label>
        <input type="text" id="op_2" name="op_2" required><br><br>
      </div>
      <div>
        <label for="psp">PSP:</label>
        <input type="text" id="psp" name="psp" required><br><br>
      </div>
      <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required><br><br>
      </div>
      <div>
        <label for="Date">Day and time(am/pm) of payoff:</label>
        <input type="date" id="Date" name="date" required>
        <input type="time" id="time" name="time" required><br><br>
      </div>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>

    <p>Click the "Submit" button when all the fields are completed correctly.</p>

    <form action="http://localhost:9102">
      <input type="submit" value="Back to main page" />
    </form>

  </body>
</html>
